bucle_rpm.json
[
    {
        "id": "inject-start",
        "type": "inject",
        "z": "flow-id",
        "name": "Start",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 150,
        "y": 100,
        "wires": [["switch-node"]]
    },
    {
        "id": "switch-node",
        "type": "switch",
        "z": "flow-id",
        "name": "Pump On/Off",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 330,
        "y": 100,
        "wires": [
            ["trigger-node"], // Start loop
            ["trigger-node-stop"] // Stop loop
        ]
    },
    {
        "id": "trigger-node",
        "type": "trigger",
        "z": "flow-id",
        "name": "Generate RPM",
        "op1": "",
        "op2": "",
        "op1type": "nul",
        "op2type": "pay",
        "duration": "1",
        "extend": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "",
        "outputs": 1,
        "x": 530,
        "y": 80,
        "wires": [["function-node"]]
    },
    {
        "id": "trigger-node-stop",
        "type": "trigger",
        "z": "flow-id",
        "name": "Stop Trigger",
        "op1": "",
        "op2": "stop",
        "op1type": "nul",
        "op2type": "str",
        "duration": "0",
        "extend": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "",
        "outputs": 1,
        "x": 530,
        "y": 120,
        "wires": [["trigger-node"]]
    },
    {
        "id": "function-node",
        "type": "function",
        "z": "flow-id",
        "name": "Generate Random RPM",
        "func": "msg.payload = Math.floor(Math.random() * (3000 - 1000 + 1) + 1000); // RPM range between 1000 and 3000\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 100,
        "wires": [["output-node"]]
    },
    {
        "id": "output-node",
        "type": "debug",
        "z": "flow-id",
        "name": "Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 890,
        "y": 100,
        "wires": []
    }
]
