flows.json
[
    {
        "id": "e1ac1f3acef1c292",
        "type": "tab",
        "label": "Control Bomba",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d53b6752ccb91e98",
        "type": "ui-base",
        "name": "Control Central IngeLearn",
        "path": "/dashboard",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "showPageTitle": true,
        "navigationStyle": "default",
        "titleBarStyle": "default"
    },
    {
        "id": "8bbee4389d6f5070",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "cce387512c68b8c7",
        "type": "ui-page",
        "name": "Control Central",
        "ui": "d53b6752ccb91e98",
        "path": "/control-bomba",
        "icon": "pump",
        "layout": "notebook",
        "theme": "8bbee4389d6f5070",
        "order": 1,
        "className": "",
        "visible": true,
        "disabled": false
    },
    {
        "id": "77648ce9b3d3368a",
        "type": "ui-group",
        "name": "Control Bomba",
        "page": "cce387512c68b8c7",
        "width": "6",
        "height": "1",
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "e55e6490b47f0b0d",
        "type": "ui-button",
        "z": "e1ac1f3acef1c292",
        "group": "77648ce9b3d3368a",
        "name": "btnArrancar",
        "label": "Arrancar",
        "order": 5,
        "width": "3",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "arrow-left-drop-circle-outline",
        "iconPosition": "left",
        "payload": "1",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "x": 190,
        "y": 160,
        "wires": [
            [
                "dc59acc05ae7f704",
                "c5d821c1cfd183e3",
                "switch-node"
            ]
        ]
    },
    {
        "id": "9803c35991892fec",
        "type": "ui-button",
        "z": "e1ac1f3acef1c292",
        "group": "77648ce9b3d3368a",
        "name": "btnDetener",
        "label": "Detener",
        "order": 6,
        "width": "3",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "stop-circle-outline",
        "iconPosition": "left",
        "payload": "0",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "x": 190,
        "y": 220,
        "wires": [
            [
                "dc59acc05ae7f704",
                "2741c83ce467c68d",
                "d025b7527199deed",
                "switch-node"
            ]
        ]
    },
    {
        "id": "6fd3c958e7f8e1ec",
        "type": "ui-template",
        "z": "e1ac1f3acef1c292",
        "group": "77648ce9b3d3368a",
        "page": "",
        "ui": "",
        "name": "pic bomba",
        "order": 4,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "<style>\n    .container{\n        display: flex;\n        justify-content: center;\n    }\n    .bomba{\n        max-width: 100%;\n        max-height: 45vh;\n    }\n</style>\n<div class=\"container\">\n    <img src=\"/img/bomba.png\" class=\"bomba\" />\n</div>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 190,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "dc59acc05ae7f704",
        "type": "ui-led",
        "z": "e1ac1f3acef1c292",
        "name": "Led Bomba",
        "group": "77648ce9b3d3368a",
        "order": 1,
        "width": "2",
        "height": "2",
        "label": "Bomba Encendida",
        "labelPlacement": "right",
        "labelAlignment": "flex-start",
        "states": [
            {
                "value": "0",
                "valueType": "num",
                "color": "#d3d3d3"
            },
            {
                "value": "1",
                "valueType": "num",
                "color": "#43cf07"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showBorder": true,
        "showGlow": true,
        "x": 930,
        "y": 220,
        "wires": []
    },
    {
        "id": "7e405a71d9dd9e02",
        "type": "ui-text",
        "z": "e1ac1f3acef1c292",
        "group": "77648ce9b3d3368a",
        "order": 2,
        "width": "3",
        "height": "1",
        "name": "lblRPM",
        "label": "RPM:",
        "format": "{{msg.payload}}",
        "layout": "row-right",
        "style": true,
        "font": "Arial Black,Arial Black,Gadget,sans-serif",
        "fontSize": "20",
        "color": "#10387a",
        "className": "",
        "x": 1120,
        "y": 60,
        "wires": []
    },
    {
        "id": "c5d821c1cfd183e3",
        "type": "trigger",
        "z": "e1ac1f3acef1c292",
        "name": "",
        "op1": "",
        "op2": "",
        "op1type": "nul",
        "op2type": "pay",
        "duration": "1",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 700,
        "y": 60,
        "wires": [
            [
                "ca58f5abdab8c12f"
            ]
        ]
    },
    {
        "id": "3f34cf52dc43e522",
        "type": "ui-led",
        "z": "e1ac1f3acef1c292",
        "name": "Led Alta RPM",
        "group": "77648ce9b3d3368a",
        "order": 3,
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "right",
        "labelAlignment": "center",
        "states": [
            {
                "value": "false",
                "valueType": "bool",
                "color": "#d3d3d3"
            },
            {
                "value": "true",
                "valueType": "bool",
                "color": "#c81919"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showBorder": true,
        "showGlow": true,
        "x": 1140,
        "y": 120,
        "wires": []
    },
    {
        "id": "1fe6da401c977e3b",
        "type": "function",
        "z": "e1ac1f3acef1c292",
        "name": "RPM + Estado",
        "func": "// generar un numero entero random entre mix y max\nfunction genRndInt(min, max) { \n    return Math.floor(Math.random() * (max - min + 1) + min);\n}\n\n\nlet bomba_estado = 0;\nlet bomba_rpm = genRndInt(1500, 1800);\n\nif (msg.payload){\n    msg.payload = {\n        bomba_estado: true,\n        bomba_rpm: bomba_rpm\n    };\n}\nelse{\n    msg.payload = {\n        bomba_estado: false,\n        bomba_rpm: 0\n    };\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 340,
        "wires": [
            [
                "45e1429c548623de"
            ]
        ]
    },
    {
        "id": "45e1429c548623de",
        "type": "change",
        "z": "e1ac1f3acef1c292",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.bomba_estado",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "ca58f5abdab8c12f",
        "type": "function",
        "z": "e1ac1f3acef1c292",
        "name": "Generar RPM",
        "func": "// generar un numero entero random entre mix y max\nfunction genRndInt(min, max) { \n    return Math.floor(Math.random() * (max - min + 1) + min);\n}\n\nlet bomba_rpm = genRndInt(1500, 1800);\n\nmsg.payload = bomba_rpm;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 60,
        "wires": [
            [
                "7e405a71d9dd9e02",
                "3cfb0c712ec312b6"
            ]
        ]
    },
    {
        "id": "2741c83ce467c68d",
        "type": "function",
        "z": "e1ac1f3acef1c292",
        "name": "Reset RPM",
        "func": "msg.payload = 0;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 260,
        "wires": [
            [
                "7e405a71d9dd9e02"
            ]
        ]
    },
    {
        "id": "d025b7527199deed",
        "type": "change",
        "z": "e1ac1f3acef1c292",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "reset",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "3cfb0c712ec312b6",
        "type": "function",
        "z": "e1ac1f3acef1c292",
        "name": "function 1",
        "func": "\nif (msg.payload >= 1700){\n    msg.payload = true;\n}\nelse{\n    msg.payload = false;\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 970,
        "y": 160,
        "wires": [
            [
                "3f34cf52dc43e522"
            ]
        ]
    },
    {
        "id": "inject-start",
        "type": "inject",
        "z": "e1ac1f3acef1c292",
        "name": "Start",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 190,
        "y": 500,
        "wires": [
            [
                "switch-node"
            ]
        ]
    },
    {
        "id": "switch-node",
        "type": "switch",
        "z": "e1ac1f3acef1c292",
        "name": "Pump On/Off",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 410,
        "y": 500,
        "wires": [
            [
                "trigger-node"
            ],
            [
                "trigger-node-stop"
            ]
        ]
    },
    {
        "id": "trigger-node",
        "type": "trigger",
        "z": "e1ac1f3acef1c292",
        "name": "Generate RPM",
        "op1": "",
        "op2": "",
        "op1type": "pay",
        "op2type": "pay",
        "duration": "1",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "",
        "outputs": 1,
        "x": 660,
        "y": 440,
        "wires": [
            [
                "function-node"
            ]
        ]
    },
    {
        "id": "trigger-node-stop",
        "type": "trigger",
        "z": "e1ac1f3acef1c292",
        "name": "Stop Trigger",
        "op1": "",
        "op2": "stop",
        "op1type": "nul",
        "op2type": "str",
        "duration": "0",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "",
        "outputs": 1,
        "x": 670,
        "y": 620,
        "wires": [
            [
                "trigger-node"
            ]
        ]
    },
    {
        "id": "function-node",
        "type": "function",
        "z": "e1ac1f3acef1c292",
        "name": "Generate Random RPM",
        "func": "msg.payload = Math.floor(Math.random() * (3000 - 1000 + 1) + 1000); return msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 520,
        "wires": [
            [
                "output-node"
            ]
        ]
    },
    {
        "id": "output-node",
        "type": "debug",
        "z": "e1ac1f3acef1c292",
        "name": "Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1150,
        "y": 520,
        "wires": []
    },
    {
        "id": "0bb5cfef99a66de8",
        "type": "switch",
        "z": "e1ac1f3acef1c292",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 510,
        "y": 740,
        "wires": [
            []
        ]
    }
]